.media_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-top: 10px;
}

@media (max-width: 750px) {
    .media_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p {
    text-align: center;
    margin-top: 0;
    line-height: 1.5em;
}

.rating {
    width: 120px;
    height: 24px;
    position: relative;
    background-color: gray;
}

.rating progress.rating-bg {
    -webkit-appearance: none;
    -moz-appearence: none;
    appearance: none;
    border: none;
    display: inline-block;
    height: 24px;
    width: 100%;
    color: gold;
}

.rating progress.rating-bg::-webkit-progress-value {
    background-color: gold;
}

.rating progress.rating-bg::-moz-progress-bar {
    background-color: gold;
}

.rating svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}