body {
    margin: 0;
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;

    font-family: sans-serif;
}

footer {
  margin-top: auto;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

li {
    font-size: 1rem;
    line-height: 1.5;
}

article p {
    margin-top: 5px;
}

article ul {
    margin-top: 5px;
}

article p + ul, article p + ol {
    margin-top: -10px;
}

h2, h3 {
    margin-bottom: 0;
}

.page-header {
    padding-top: 25vh;

    text-align: center;
}

.highlight {
    font-weight: bold;
    border-bottom: 1px solid #28a745;
}

#interests li {
    line-height: 1.5;
}

/* From: https://codepen.io/cplepage/pen/EozVXL */
.circle {
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 50%;
  background-color: #ED8D8D;
  color: #4D4545;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}

.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ED8D8D;
  z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}

.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}

.timeline hr {
  border-top: 3px solid #ED8D8D;
  margin: 0;
  top: 17px;
  position: relative;
}

.timeline .col-2 {
  display: flex;
  overflow: hidden;
}

.timeline .corner {
  border: 3px solid #ED8D8D;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.timeline .top-right {
  left: 50%;
  top: -50%;
}

.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}

.timeline .top-left {
  left: -50%;
  top: -50%;
}

.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}