---
title: About
permalink: /about/
---

<html>
    <head>
        <title>About Me | Rees Draminski</title>

        {% include header.html %}
    </head>

    <body class="d-flex flex-column h-100">
        {% include menu.html %}

        <section id="content" class="container flex-shrink-0">
            <h1 class="text-center">About Me</h1>

            <ul>
                <li>
                    I use he/him pronouns.
                </li>

                <li>
                    I am Korean, Polish, and Irish.
                </li>

                <li>
                    I am asexual and aromantic.
                </li>

                <li>
                    I am allergic to all nuts (peanuts and tree nuts), and formerly allergic to milk and eggs.
                </li>

                <li>
                    I have aphantasia.
                </li>

                <li>
                    I currently work as a <a href="{% post_url 2024-01-12-What-Do-I-Do-As-A-Data-Engineer %}">Data Engineer</a>, but have also served as a Software Engineer in my career.
                </li>

                <li>
                    I graduated from UMBC in 2022.
                </li>

                <ul>
                    <li>
                        I received a <a href="{% post_url 2022-05-05-My-CS-Degree-In-A-Nutshell %}">B.S. in Computer Science</a>.
                    </li>
    
                    <li>
                        I also received a <a href="{% post_url 2022-05-06-My-Philosophy-Degree-In-A-Nutshell %}">B.A. in Philosophy</a>.
                    </li>
                </ul>

                <li>
                    I was raised Catholic.
                </li>
            </ul>
        </section>

        {% include footer.html %}
    </body>
</html>