---
title: Data
permalink: /data/movies
---

<html>
    <head>
        <title>Movies | Rees Draminski</title>
        
        {% include header.html %}
    </head>

    <body>
        {% include menu.html %}

        <section id="content" class="wrap">
            <h1>Movies</h1>

            <p>
                Original Data Location: Letterboxd
            </p>

            <p style="margin-top: 0;">
                Last Updated: {{site.data.media.movies.last_updated}}
            </p>

            <h2>Watched ({{site.data.media.movies.watched | size}})</h2>
            <div class="media_grid">
                {% for movie in site.data.media.movies.watched %}
                    <div class="card">
                        <p>
                            {{movie.name}} ({{movie.year}})
                        </p>

                        <!-- https://codepen.io/ianmcodes/pen/VwvXYYG -->
                        <svg style="display: none;">
                            <defs>
                                <symbol id="fivestars">
                                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24" fill="white" fill-rule="evenodd"/>
                                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24" fill="white" fill-rule="evenodd" transform="translate(24)"/>
                                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24" fill="white" fill-rule="evenodd" transform="translate(48)"/>
                                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24" fill="white" fill-rule="evenodd" transform="translate(72)"/>
                                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24" fill="white" fill-rule="evenodd"  transform="translate(96)"/>
                                </symbol>
                            </defs>
                        </svg>

                        <div class="rating">
                            <progress class="rating-bg" value="{{movie.rating}}" max="5"></progress>
                            <svg><use xlink:href="#fivestars"/></svg>
                        </div>

                        {% if movie.review %}
                            <p>
                                {{movie.review | capitalize}}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>

        {% include footer.html %}
    </body>
</html>