---
title: Cardio Workouts
layout: data
permalink: /data/cardio
location: Apple Fitness
---

{% assign workouts = site.data.cardio.workouts | reverse %}

<p class="mt-0">
    Last Updated: {{site.data.cardio.last_updated}}
</p>

<p class="mt-0">
    # of Entries: {{ workouts | size }}
</p>

{% 
    include_cached viewList.html 
    views="calendar, table, card"
    active="calendar" 
%}

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="calendar-tab-pane" role="tabpanel" aria-labelledby="calendar-tab"
        tabindex="0">
        <div id="calendar" class="mt-2 mb-2"></div>
    </div>

    <div class="tab-pane fade" id="table-tab-pane" 
        role="tabpanel" aria-labelledby="table-tab" tabindex="0">
        <table id="myTable" class="table table-striped display responsive" width="100%">
            {% 
                include_cached tableHeader.html 
                columns="Workout Type, Duration, Calories Burned, Average HR, Date" 
            %}

            <tbody>
                {% for workout in workouts %}
                    <tr>
                        <td>
                            {{ workout.workoutType | capitalize }}
                        </td>

                        <td>
                            {{ workout.duration }}
                        </td>

                        <td>
                            {{ workout.activeCalories }}
                        </td>

                        <td>
                            {{ workout.averageHR }}
                        </td>

                        <td>
                            {{ workout.startTime | date: '%Y-%m-%d' }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="card-tab-pane" 
        role="tabpanel" aria-labelledby="card-tab" tabindex="0">
        <div class="row row-cols-1 row-cols-md-3 g-2 mt-2 mb-2" data-masonry='{"percentPosition": true }'>
            {% for workout in workouts limit: 25 %}
                <div class="col">
                    <div class="card">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center text-center">
                            <h4 class="card-title">
                                {{ workout.workoutType | capitalize }}
                            </h4>
        
                            <h5 class="card-subtitle">
                                {{workout.startTime | date: "%A %B %e, %Y"}}
        
                                {{ workout.startTime | date: "%I:%M%P" }} - {{ workout.endTime | date: "%I:%M%P" }}
                            </h5>
        
                            <p class="mt-2 mb-0">
                                Duration:
                                {{ workout.duration }}
                            </p>
        
                            <p class="mb-0">
                                Calories Burned: {{ workout.activeCalories }}
                            </p>
        
                            {% if workout.averageHR %}
                                <p class="mb-0">
                                    Average Heart Rate: {{ workout.averageHR }} bpm
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="d-grid gap-2">
            <button id="loadMore" class="btn btn-success">Load More</button>
        </div>
    </div>
</div>

<script>
    const parent = document.querySelector(".row-cols-1");

    document.getElementById("loadMore").onclick = () => {
        alert("This feature is not available yet :( Please use the other views to see the data for now!");
    }

    function addBrick() {
        const col = createElement(parent, "div", {
            class: "col"
        });

        const card = createElement(col, "div", {
            class: "card"
        });

        const cardBody = createElement(card, "div", {
            class: "card-body d-flex flex-column align-items-center justify-content-center text-center"
        });

        createElement(cardBody, "h4", {
            class: "card-title",
            innerText: "Test"
        });
    }

    /**
     * Create an HTML element and add it to the DOM tree.
     * @param {HTMLElement} parent 
     * @param {String} tag 
     * @param {Object} attributes 
     */
    function createElement(parent, tag, attributes={}) {
        // create the element to whatever tag was given
        const el = document.createElement(tag);
        
        // go through all the attributes in the object that was given
        Object.entries(attributes)
            .forEach(([attr, value]) => {
                // handle the various special cases that will cause the Element to be malformed
                if (attr == "innerText") 
                {
                    el.innerText = value;
                }
                else if (attr == "innerHTML") 
                {
                    el.innerHTML = value;
                }
                else if (attr == "textContent") 
                {
                    el.textContent = value;
                }
                else if (attr == "onclick")
                {
                    el.onclick = value;
                }
                else if (attr == "onkeydown")
                {
                    el.onkeydown = value;
                }
                else
                {
                    el.setAttribute(attr, value);
                }
            });
        
        // add the newly created element to its parent
        parent.appendChild(el);

        // return the element in case this element is a parent for later element creation
        return el;
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const calendarEl = document.getElementById("calendar");
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialDate: "{{ workouts[0].startTime }}",
            initialView: "dayGridMonth",
            eventDidMount: function(info) {
                new bootstrap.Tooltip(info.el, {
                    html: true,
                    title: `Duration: ${info.event.extendedProps.workoutDuration}<br>Calories Burned: ${info.event.extendedProps.caloriesBurned}${info.event.extendedProps.heartRate ? `<br>Average Heart Rate: ${info.event.extendedProps.heartRate}` : ""}`,
                    placement: "top",
                    trigger: "hover",
                    container: "body"
                });
            },
            events: [
                {% for workout in workouts %}
                    {
                        title: "{{ workout.workoutType | capitalize }}",
                        start: "{{ workout.startTime | date: '%Y-%m-%d' }}",
                        end: "{{ workout.endTime | date: '%Y-%m-%d' }}",
                        workoutDuration: "{{ workout.duration }}",
                        caloriesBurned: "{{ workout.activeCalories }}",
                        heartRate: "{{ workout.averageHR }}",
                    },
                {% endfor %}
            ]
        });

        calendar.render();
    });
</script>

<script
  src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
  crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.min.js"></script>
<script>
    const table = new DataTable("#myTable", {
        responsive: true,
        pageLength: 25,
        // order by date
        order: [
            [4, "desc"]
        ],
        columnDefs: [
            {
                target: "_all",
                className: "align-middle"
            },
            {
                target: 0,
                className: "text-center"
            }
        ]
    });
</script>