---
title: Digital Garden
permalink: /garden
---

<html>
    <head>
        <title>Digital Garden</title>

        <style>
            .list-group-flush > .list-group-item:first-child {
                padding-top: 0;
            }
        </style>

        {% include header.html %}
    </head>

    <body class="d-flex flex-column h-100">
        {% include menu.html %}

        <section id="content" class="container flex-shrink-0">
            <h1 class="text-center">Digital Garden</h1>

            <p>
                My <a href="https://maggieappleton.com/garden-history">digital garden</a> is a collection of my thoughts, ideas, and opinions on various topics. Generally speaking, articles are the most polished version of my thoughts with notes being the less polished counterpart. Lists are just lists, sometimes I'll write rationale for items but other times it'll just be a plain and simple bulleted list. Stubs are not quite articles, lists, or notes; they're something in between. They are usually a grouping of related ideas/thoughts under a topic that is summarized by the title, the closest thing to it that I can think of is an article outline.
            </p>

            <!-- digital garden content filters -->
            <div class="d-none">
                <div class="input-group mb-3 bg-white rounded">
                    <button class="btn btn-outline-secondary w-50 dropdown-toggle" data-bs-auto-close="outside" 
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Show Tags
                    </button>
                    
                    <ul id="tagFilterList" class="dropdown-menu w-50"></ul>
                </div>
    
                <div class="input-group mb-3 bg-white rounded">
                    <button class="btn btn-outline-secondary w-50 dropdown-toggle" data-bs-auto-close="outside" 
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Show Content Type
                    </button>
                    
                    <ul class="dropdown-menu w-50">
                        <li class="ms-2">
                            <input class="form-check-input" type="checkbox" checked>
                            <label class="form-check-label ms-1">Article</label>
                        </li>

                        <li class="ms-2">
                            <input class="form-check-input" type="checkbox" checked>
                            <label class="form-check-label ms-1">List</label>
                        </li>

                        <li class="ms-2">
                            <input class="form-check-input" type="checkbox" checked>
                            <label class="form-check-label ms-1">Note</label>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="card_grid" class="row row-cols-1 row-cols-md-3 g-2 mb-2" data-masonry='{"percentPosition": true }'></div>
        </section>

        <script>
            // post data generated by Jekyll/Liquid
            const data = [
                {% for tag in site.data.garden.tags %}
                    {
                        "name": "{{tag.name}}",
                        "description": "{{tag.description}}",
                        "count": parseInt("{{site.tags[tag.name] | size}}", 10),
                        "items": [
                            {% for post in site.tags[tag.name] %}
                                {
                                    "title": `{{post.title}}`,
                                    "description": `{{post.description}}`,
                                    "url": "{{post.url}}",
                                    "type": "{{post.layout}}",
                                    "content": "{{post.content | strip_html | strip_newlines | remove_chars | escape}}",
                                    "wordCount": parseInt("{{post.content | number_of_words}}", 10)
                                },
                            {% endfor %}
                        ]
                    },
                {% endfor %}
            ];

            console.log(data);

            const cardGridEl = document.getElementById("card_grid");
            const tagFilterListEl = document.getElementById("tagFilterList");

            data
                .sort((a, b) => b.count - a.count)
                .forEach(tag => {
                    populateTagCard(createTagCard(tag), tag);

                    createTagCheckbox(tag);
                });

            // TODO hook into layout complete masonry event
            if (window.location.hash)
            {
                setTimeout(() => {
                    document.getElementById(window.location.hash.substring(1)).scrollIntoView();
                }, 500);
            }

            function populateTagCard(cardBody, tag) {
                const ul = createElement(cardBody, "ul", { class: "list-group list-group-flush" });

                tag.items
                    .forEach(post => {
                        const li = createElement(ul, "li", { class: "list-group-item" });

                        const p = createElement(li, "p", { class: "mb-1" });

                        createElement(p, "span", {
                            class: "badge bg-info me-1",
                            text: titleCase(post.type)
                        });

                        createElement(p, "a", {
                            href: post.url,
                            text: post.title,
                        });

                        createElement(li, "p", { 
                            class: "mb-0",
                            text: post.description
                        });
                    });
            }

            function createTagCard(tag) {
                // create card
                const card = createElement(
                    createElement(cardGridEl, "div", { class: "col" } ),
                    "div", 
                    { class: "card" }
                );

                // create card-header
                const header = createElement(card, "div", { class: "card-header" });
                
                // add tag name and # of posts
                createElement(header, "h4", {
                    class: "mb-0",
                    id: encodeURI(tag.name), // TODO scroll to hash link
                    text: `${tag.name} (${tag.count})`
                });

                // add description if tag has one
                if (tag.description)
                {
                    createElement(header, "p", {
                        class: "mb-0 mt-0",
                        text: tag.description
                    });
                }

                const cardBody = createElement(card, "div", {
                    class: "card-body d-flex flex-column"
                });
                
                return cardBody;
            }
            
            function titleCase(str) {
                return str
                    .toLowerCase()
                    .split(" ")
                    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                    .join(" ");
            }

            /**
             * Create tag checkbox for show tag selector.
             */
            function createTagCheckbox(tag) {
                const li = createElement(tagFilterListEl, "li", {
                    class: "ms-2"
                });

                createElement(li, "input", {
                    name: encodeURI(tag.name),
                    class: "form-check-input",
                    type: "checkbox",
                    checked: true,
                });

                createElement(li, "label", {
                    class: "form-check-label ms-1",
                    for: encodeURI(tag.name),
                    text: tag.name
                });
            }

            /**
             * Create an HTML element and add it to the DOM tree.
             * @param {HTMLElement} parent 
             * @param {String} tag          
             * @param {Object} attributes 
             */
            function createElement(parent, tag, attributes={}) {
                // create the element to whatever tag was given
                const el = document.createElement(tag);
                
                // go through all the attributes in the object that was given
                Object.entries(attributes)
                    .forEach(([attr, value]) => {
                        // handle the various special cases that will cause the Element to be malformed
                        if (attr == "text") 
                        {
                            el.innerText = value;
                        }
                        else if (attr == "innerHTML") 
                        {
                            el.innerHTML = value;
                        }
                        else if (attr == "textContent") 
                        {
                            el.textContent = value;
                        }
                        else if (attr == "onclick")
                        {
                            el.onclick = value;
                        }
                        else if (attr == "onkeydown")
                        {
                            el.onkeydown = value;
                        }
                        else
                        {
                            el.setAttribute(attr, value);
                        }
                    });
                
                // add the newly created element to its parent
                parent.appendChild(el);

                // return the element in case this element is a parent for later element creation
                return el;
            }
        </script>

        {% include footer.html %}
    </body>
</html>