---
title: Lists
permalink: /lists/
list_tags:
    - name: Places
    - name: "Favorite Media"
    - name: Food/Beverage
    - name: Miscellaneous
---

<html>
    <head>
        <title>Lists | Rees Draminski</title>
        
        {% include header.html %}

        <style>
            #list_tags li {
                display: inline-block;
                border: 1px solid black;
                border-radius: 4px;
                padding: 5px;
                margin: 5px;
            }
        </style>
    </head>

    <body class="d-flex flex-column h-100">
        {% include menu.html %}

        <section id="content" class="container">
            <h1 class="text-center mb-3">Lists</h1>
                {% assign sorted_tags = site.tags | sort %}
    
                <p>
                    Click tag links to navigate to its corresponding section on this page.
                </p>
                
                <ul id="list_tags">
                    {% for list_tag in page.list_tags %}
                        {% for tag in sorted_tags %}
                            {% assign t = tag | first %}
                            {% assign posts = tag | last %}
                        
                            {% if list_tag.name contains t %}
                                <li>
                                    <a href="#{{ list_tag.name | encode_url }}">{{ list_tag.name }} </a>
                                    ({{ posts | size }})
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
      
            {% for tag in page.list_tags %}
                <!-- render tag name heading -->
                <h3 id="{{ tag.name }}">{{ tag.name }}</h3>

                <!-- render tag description if it has one -->
                {% if tag.description %}
                    <p>
                        {{ tag.description }}
                    </p>
                {% endif %}
                
                <ol>
                    {% assign posts = site.tags[tag.name] | sort %}
                    {% for post in posts %}
                        <li>
                            <p class="mb-0">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </p>
                                            
                            <p>
                                {{ post.description }}
                            </p>
                        </li>
                    {% endfor %}
                </ol>
            {% endfor %}
        </section>

        {% include footer.html %}
    </body>
</html>