---
title: Home
---

<html>
    <head>
        <title>Home | Rees Writes</title>

        {% include header.html %}

        <link rel="authorization_endpoint" href="https://indieauth.com/auth">

        <div class="h-card" style="display: none;">
            <img class="u-photo" src="https://res.cloudinary.com/dvqeiswvr/image/upload/v1672587467/rees.jpg">
            <a class="p-name u-url u-uid" href="https://reeswrites.com">Rees D.</a>
            <span class="p-note">
                Hello! My name is Rees and I am a software engineer currently living in the DC/NoVA area. I write on my blog about my various interests which include, but are not limited to: reading, philosophy, interior design, and more. 
            </span>
        </div>
    </head>

    <body class="d-flex flex-column h-100">
        {% include menu.html %}
            
        <section id="content" class="container">
            <p>
                Hi, I'm <span class="custom_highlight">Rees</span> and welcome to my website! This site is a collage of things about me as well as things I have done over the years (written, programmed, consumed, etc). I highly encourage you to browse around and find what interests you!
            </p>

            <p>
                I currently work as a <span class="custom_highlight">Software Engineer</span> at a large U.S. bank. I graduated from <a href="https://umbc.edu">UMBC</a> in May 2022 where I studied
                <span class="custom_highlight">Philosophy</span> and <span class="custom_highlight">Computer Science</span>.
            </p>

            <p>
                I am <a href="https://goodreads.com/reesd">@reesd on Goodreads</a>, <a href="https://github.com/reeshuffled" rel="me">@reeshuffled on Github</a>, and <a href="https://untappd.com/user/reesd">@reesd on Untappd</a>.
            </p>

            <p>
                Some things I like to do in my free time are: <a href="/writing/#Philosophy">philosophy</a>, <a href="https://www.goodreads.com/reesd">reading</a>, collecting <a href="/data/books-owned">books</a> &amp; <a href="/data/records">vinyl</a>, <a href="https://github.com/reeshuffled">programming</a>, <a href="/recipes">cooking</a>, <a href="https://untappd.com/user/reesd">trying new craft beer</a>, and <a href="{{ site.url }}{% post_url 2023-05-16-My-Favorite-TV-Shows %}">watching TV</a>.
            </p>

            <p>
                Here are a few of my recently published posts:
            </p>
            <ul>
                {% for post in site.posts limit: 5 %}
                    <li>
                        <p class="mb-0">
                            <span class="badge bg-info me-1">{{post.type | capitalize}}</span>

                            <a href="{{post.url}}">{{post.title}}</a> ({{ post.date | date: "%Y-%m-%d" }})
                        </p>

                        <p>
                            {{post.description}}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </section>

        {% include footer.html %}
    </body>
</html>