---
title: Data
permalink: /data
---

<html>
    <head>
        <title>Data | Rees Writes</title>

        {% include header.html %}

        <script src="https://kit.fontawesome.com/d29687c0e9.js" crossorigin="anonymous"></script>
    </head>

    <body>
        {% include menu.html %}

        <section id="content" class="container">
            <h1>A Journey to Own My Data</h1>
            <p>
                "Owning your data" is an <a href="https://indieweb.org/own_your_data">IndieWeb principle</a> that aims to bring your data onto your own domain so that you can retain access to it over time and reclaim it from "<a href="https://indieweb.org/silo">data siloes</a>". I'm interested in data ownership and personal data centralization in part due to the fact that I think it is cool to be able to curate your own data and choose to present it if/how you wish. When data is being held by some other company, app, or website, you're stuck with their presentation layer and their analytics. But also discoverability is mostly contained within that website. You could always link back to those kind of services from your own website but having people leave your website to go to another website is always kind of a hard sell.
            </p>

            <p>
                This page and sub-pages are very much a work progress so continue checking back to see how it gets updated over time!
            </p>

            <!-- <p>
                Along the axis of data centralization, you get the benefits of data completeness. I had my Watch data scattered between multiple services: Trakt/Hobi for TV, Letterboxd for Movies, and MyAnimeList for Anime.
            </p> -->

            <div class="row row-cols-1 row-cols-md-3 g-2">
                <div class="col">
                    <a href="/data/anime">
                        <h3>
                            <i class="fa-solid fa-tv"></i>
                            
                            Anime Watched
                        </h3>
                    </a>
                </div>

                <a href="/data/beer">
                    <h3>
                        <i class="fa-solid fa-beer-mug-empty"></i>
                        
                        Beer Drank
                    </h3>
                </a>

                <a href="/data/books-owned">
                    <h3>
                        <i class="fa-solid fa-book"></i>
                        
                        Books Owned
                    </h3>
                </a>
    
                <a href="/data/books-read">
                    <h3>
                        <i class="fa-solid fa-book-open-reader"></i>
                        
                        Books Read
                    </h3>
                </a>
    
                <a href="/data/movies">
                    <h3>
                        <i class="fa-solid fa-film"></i>
                        
                        Movies Watched
                    </h3>
                </a>

                <a href="/data/records">
                    <h3>
                        <i class="fa-solid fa-record-vinyl"></i>
                        
                        Records Owned
                    </h3>
                </a>

                <a href="/data/cardio">
                    <h3>
                        <i class="fa-solid fa-person-walking"></i>
                        
                        Workouts Done
                    </h3>
                </a>
            </div>
        </section>

        {% include footer.html %}
    </body>
</html>