---
title: Home
---

<html>
    <head>
        <title>Rees Draminski</title>

        <!-- HTML Meta Tags -->
        <meta name="description" content="Rees Draminski's software development portfolio website.">
        <link rel="alternate" type="application/atom+xml" href="https://reesdraminski.com/feed.xml" 
            title="RSS Feed" />
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="http://reesdraminski.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Rees Draminski">
        <meta property="og:description" content="Rees Draminski's software development portfolio website.">
        <meta property="og:image" content="">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="reesdraminski.com">
        <meta property="twitter:url" content="http://reesdraminski.com/">
        <meta name="twitter:title" content="Rees Draminski">
        <meta name="twitter:description" content="Rees Draminski's software development portfolio website.">
        <meta name="twitter:image" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicon.ico">
        
        <link rel="stylesheet" href="/css/main.css">

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3WG8QJHLSL"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3WG8QJHLSL');
        </script>

        <div class="h-card" style="display: none;">
            <img class="u-photo" src="https://res.cloudinary.com/dvqeiswvr/image/upload/v1672587467/rees.jpg">
            <a class="p-name u-url u-uid" href="https://reesdraminski.com">Rees Draminski</a>
            <span class="p-note">
                Hello! My name is Rees Draminski and I am a software engineer currently living in the DC/NoVA area. I write on my blog about my various interests which include, but are not limited to: reading, philosophy, interior design, and more.
            </span>
        </div>
    </head>

    <body>
        {% include menu.html %}
            
        <section id="content" class="wrap">
            <div class="row">
                <div style="max-width: 320px; display: inline-block; margin-right: 20px;">
                    <img id="profile" style="width: 250px;" src="https://res.cloudinary.com/dvqeiswvr/image/upload/v1672587467/rees.jpg">
                </div>

                <div style="max-width: 620px; display: inline-block; vertical-align: top;">
                    <p>
                        Hello! My name is <span class="custom_highlight">Rees Draminski</span>, and I currently work as a <span class="custom_highlight">Data Engineer</span>. I graduated from <a href="https://umbc.edu">UMBC</a> in May 2022 where I studied
                        <span class="custom_highlight">Philosophy</span> and <span class="custom_highlight">Computer Science</span>.
                    </p>

                    <p>
                        <b>Some things I like to do in my free time are:</b> <a href="/writing/#Philosophy">philosophy</a>, <a href="https://www.goodreads.com/user/show/80478222-rees-draminski">reading</a>, collecting <a href="https://www.libib.com/u/reesdraminski/l/1534389">books</a> &amp; <a href="https://www.discogs.com/user/reesd/collection">vinyl</a>, <a href="https://github.com/reesdraminski">programming</a>, <a href="/recipes">cooking</a>, <a href="https://untappd.com/user/reesd">trying new craft beer</a>, and <a href="{{ site.url }}{% post_url 2023-05-16-My-Favorite-TV-Shows %}">watching TV</a>.
                    </p>

                    <p>
                        <b>My interests include, but are not limited to:</b>
                        {% for tag in site.data.tags.writing %}
                            {% if forloop.last %} 
                                and <a href="/writing/#{{ tag.name | encode_url }}">{{ tag.fancy_name }}</a>.
                            {% else %}
                                <a href="/writing/#{{ tag.name | encode_url }}">{{ tag.fancy_name }}</a>,
                            {% endif %}
                        {% endfor %}
                    </p>

                    <p>
                        <b>Right now I am focusing on:</b> decorating my apartment to make it feel like a warm space to gather people,  becoming a more creative person, and building up my collections of books, vinyl, and knick knacks.
                    </p>

                    <p>
                        If you would like to reach me, please email me at hi [at] reesdraminski [dot] com.
                    </p>

                    <p>
                        Where I Am Online:
                    </p>
                    <ul>
                        <li><a href="https://twitter.com/reesdraminski" rel="me">@reesdraminski on Twitter</a></li>
                        <li><a href="https://github.com/reesdraminski" rel="me">@reesdraminski on Github</a></li>
                        <li><a href="https://untappd.com/user/reesd" rel="me">@reesd on Untappd</a></li>
                        <li>
                            Subscribe to my posts via <a id="rss" href="/feed.xml" target="_blank">RSS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        {% include footer.html %}
    </body>
</html>