[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
oyaml = "*"
numpy = "*"
pydriller = "*"
python-frontmatter = "*"
requests = "*"
sentence-transformers = "*"
tabulate = "*"
umap-learn = "*"

[requires]
python_version = "3.13"

[scripts]
black = "black ."
clog = "python lib/cli.py changelog"
enrich = "python lib/cli.py enrich"
isort = "isort . --skip lib/jekyll_tools.py"
new = "python lib/cli.py draft"
promote = "python lib/cli.py promote"
recs = "python lib/recommendations.py"
start = "bundle exec jekyll serve --livereload --drafts"
stats = "python lib/cli.py stats"

[dev-packages]
black = "*"
isort = "*"
