[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oyaml = "*"
tabulate = "*"
pydriller = "*"
python-frontmatter = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.13"
