[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
oyaml = "*"
pydriller = "*"
python-frontmatter = "*"
requests = "*"
tabulate = "*"

[requires]
python_version = "3.13"

[scripts]
black = "black ."
clog = "python lib/cli.py changelog"
enrich = "python lib/cli.py enrich"
isort = "isort . --skip lib/jekyll_tools.py"
new = "bash create-post.sh"
promote = "python lib/cli.py promote"
start = "bundle exec jekyll serve --livereload --drafts"

[dev-packages]
black = "*"
isort = "*"