---
title: Projects
permalink: /projects/
---

<html>
    <head>
        <title>Projects | Rees Draminski</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="/css/style.css"> -->
        <link rel="stylesheet" href="/css/main.css">
        <style>
            #tecanal .circle { background: #3954AE; }
            #tecanal .how-it-works.row .col-2::after { border-left: 3px solid #3954AE; }
            #tecanal .timeline hr { border-top: 3px solid #3954AE; }
            #tecanal .timeline .corner { border: 3px solid #3954AE; }

            #sga .circle { background: #FDB515; }
            #sga .how-it-works.row .col-2::after { border-left: 3px solid #FDB515; }
            #sga .timeline hr { border-top: 3px solid #FDB515; }
            #sga .timeline .corner { border: 3px solid #FDB515; }

            #hackumbc .circle { background: #5c4b9f; }
            #hackumbc .how-it-works.row .col-2::after { border-left: 3px solid #5c4b9f; }
            #hackumbc .timeline hr { border-top: 3px solid #5c4b9f; }
            #hackumbc .timeline .corner { border: 3px solid #5c4b9f; }
        </style>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3WG8QJHLSL"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3WG8QJHLSL');
        </script>
    </head>

    <body>
        <div id="header">
            <div class="wrap">
                <a href="/" id="title">Rees Draminski</a>

                <ul id="menu">
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="/about">About</a>
                    </li>

                    <li>
                        <a href="/writing">Writing</a>
                    </li>

                    <li class="active">
                        <a href="/projects">Projects</a>
                    </li>
                </ul>
            </div>
        </div>

        <section class="wrap">
            <h1>Projects</h1>
            <p>
                My guiding project philosophy is to create something that I want to use or that I know that would solve a problem that I've noticed before. On this page I've grouped together the main types of projects that I've implemented: those for community organizations to solve a problem I've noticed before, and personal projects for things that I wanted to use myself.
            </p>

            <ol>
                <li>
                    <a href="#community_projects">Jump to Community Projects</a>
                </li>

                <li>
                    <a href="#personal_projects">Jump to Personal Projects</a>
                </li>
            </ol>

            <h1 id="community_projects">Community Projects</h1>
            <p>
                I have designed and implemented a great deal of projects, both for myself and the organizations that I have been a part of. Something that I think is really great about programming is how code can be re-used, and how projects can lead into other greater projects. In this way, I tried to capture the process of me developing these projects for the organizations I've been a part of.
            </p>

            <ol>
                <li>
                    <a href="#tecanal">Jump to TeCanal</a>
                </li>

                <li>
                    <a href="#sga">Jump to UMBC SGA</a>
                </li>

                <li>
                    <a href="#hackumbc">Jump to hackUMBC</a>
                </li>
            </ol>
            
            <div class="row">
                <div id="tecanal" class="col-md-6">
                    <h2 class="pb-3 pt-2 text-center">TeCanal</h2>
                    <p>
                        TeCanal was a student-run 501(c)(3) nonprofit organization that aimed at providing STEM education and technology resources to underserved areas in Baltimore City. I served as the CTO, CEO, and Director of Technology before the organization was dissolved.
                    </p>

                    {% for project in site.data.projects.community.tecanal %}
                        {% assign mod = forloop.index0 | modulo: 2 %}

                        {% if mod == 0 %}
                            <div class="row align-items-center how-it-works">
                                {% if forloop.first == true %}
                                <div class="col-2 text-center bottom">
                                {% elsif forloop.last == true %}
                                <div class="col-2 text-center top">
                                {% else %}
                                <div class="col-2 text-center full" style="margin-left: 3px;">
                                {% endif %}
                                    <div class="circle"></div>
                                </div>
        
                                <div class="col-9">
                                    <h5>
                                        {% for item in project.header %}
                                            {% if forloop.last == true %}
                                                <a href="{{item.link}}">
                                                    {{item.name}}
                                                </a>
                                            {% else %}
                                                <a href="{{item.link}}">
                                                    {{item.name}}
                                                </a>/
                                            {% endif %}
                                        {% endfor %}
                                    </h5>
        
                                    <p>
                                        {{project.body}}
                                    </p>

                                    {% if project.readMore %}
                                        <a href="{{project.readMore.link}}" class="btn btn-secondary">
                                            {{project.readMore.title}}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>

                            {% if forloop.last == false %}
                                <div class="row timeline">
                                    <div class="col-2">
                                        <div class="corner top-right"></div>
                                    </div>

                                    <div class="col-8">
                                        <hr/>
                                    </div>

                                    <div class="col-2">
                                        <div class="corner left-bottom"></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="row align-items-center justify-content-end how-it-works">
                                <div class="col-9 text-right">
                                    <h5>
                                        {% for item in project.header %}
                                            {% if forloop.last == true %}
                                                <a href="{{item.link}}">
                                                    {{item.name}}
                                                </a>
                                            {% else %}
                                                <a href="{{item.link}}">
                                                    {{item.name}}
                                                </a>/
                                            {% endif %}
                                        {% endfor %}
                                    </h5>
        
                                    <p>
                                        {{project.body}}
                                    </p>

                                    {% if project.readMore %}
                                        <a href="{{project.readMore.link}}" class="btn btn-secondary">
                                            {{project.readMore.title}}
                                        </a>
                                    {% endif %}
                                </div>
        
                                {% if forloop.last == true %}
                                <div class="col-2 text-center top" style="margin-right: 3px;">
                                {% else %}
                                <div class="col-2 text-center full">
                                {% endif %}
                                    <div class="circle"></div>
                                </div>
                            </div>

                            {% if forloop.last == false %}
                                <div class="row timeline">
                                    <div class="col-2">
                                        <div class="corner right-bottom"></div>
                                    </div>
                                    <div class="col-8">
                                        <hr />
                                    </div>
                                    <div class="col-2">
                                        <div class="corner top-left"></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div id="sga" class="col-md-6">
                    <h2 class="pb-3 pt-2 text-center">UMBC SGA</h2>
                    <p>
                        While studying at UMBC, I was a Senator for three years (Sophomore - Senior). I focused on creating web applications to increase data autonomy and empower students to take control of their student experience.
                    </p>

                    {% for project in site.data.projects.community.sga %}
                        {% assign mod = forloop.index0 | modulo: 2 %}

                        {% if mod == 0 %}
                            <div class="row align-items-center how-it-works">
                                {% if forloop.first == true %}
                                <div class="col-2 text-center bottom">
                                {% elsif forloop.last == true %}
                                <div class="col-2 text-center top">
                                {% else %}
                                <div class="col-2 text-center full" style="margin-left: 3px;">
                                {% endif %}
                                    <div class="circle"></div>
                                </div>
        
                                <div class="col-9">
                                    <h5>
                                        {% for item in project.header %}
                                            {% if forloop.last == true %}
                                                <a href="{{item.link}}">
                                                    {{item.name}}
                                                </a>
                                            {% else %}
                                                <a href="{{item.link}}">
                                                    {{item.name}}
                                                </a>/
                                            {% endif %}
                                        {% endfor %}
                                    </h5>
        
                                    <p>
                                        {{project.body}}
                                    </p>

                                    {% if project.readMore %}
                                        <a href="{{project.readMore.link}}" class="btn btn-secondary">
                                            {{project.readMore.title}}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>

                            {% if forloop.last == false %}
                                <div class="row timeline">
                                    <div class="col-2">
                                        <div class="corner top-right"></div>
                                    </div>

                                    <div class="col-8">
                                        <hr/>
                                    </div>

                                    <div class="col-2">
                                        <div class="corner left-bottom"></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="row align-items-center justify-content-end how-it-works">
                                <div class="col-9 text-right">
                                    <h5>
                                        {% for item in project.header %}
                                            {% if forloop.last == true %}
                                                <a href="{{item.link}}">
                                                    {{item.name}}
                                                </a>
                                            {% else %}
                                                <a href="{{item.link}}">
                                                    {{item.name}}
                                                </a>/
                                            {% endif %}
                                        {% endfor %}
                                    </h5>
        
                                    <p>
                                        {{project.body}}
                                    </p>

                                    {% if project.readMore %}
                                        <a href="{{project.readMore.link}}" class="btn btn-secondary">
                                            {{project.readMore.title}}
                                        </a>
                                    {% endif %}
                                </div>
        
                                {% if forloop.last == true %}
                                <div class="col-2 text-center top" style="margin-right: 3px;">
                                {% else %}
                                <div class="col-2 text-center full">
                                {% endif %}
                                    <div class="circle"></div>
                                </div>
                            </div>

                            {% if forloop.last == false %}
                                <div class="row timeline">
                                    <div class="col-2">
                                        <div class="corner right-bottom"></div>
                                    </div>
                                    <div class="col-8">
                                        <hr />
                                    </div>
                                    <div class="col-2">
                                        <div class="corner top-left"></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div id="hackumbc">
                <h2 class="pb-3 pt-2 text-center">hackUMBC</h2>
                <p>
                    hackUMBC is UMBC's hackathon and hackathon organizing student organization. hackUMBC is 24-hour tech innovation marathon where students across the East Coast collaborate to develop ideas to build mobile, web, and hardware projects. HackUMBC invites diverse groups of students to enjoy a weekend of programming, workshops, tech talks, networking, and other fun activities. At the end of 24 hours, participants' projects are presented and judged for different prize categories from sponsors and other organizations.
                </p>

                {% for project in site.data.projects.community.hackumbc %}
                    {% assign mod = forloop.index0 | modulo: 2 %}

                    {% if mod == 0 %}
                        <div class="row align-items-center how-it-works">
                            {% if forloop.first == true %}
                            <div class="col-2 text-center bottom">
                            {% elsif forloop.last == true %}
                            <div class="col-2 text-center top">
                            {% else %}
                            <div class="col-2 text-center full" style="margin-left: 3px;">
                            {% endif %}
                                <div class="circle"></div>
                            </div>
        
                            <div class="col-9">
                                <h5>
                                    {% for item in project.header %}
                                        {% if forloop.last == true %}
                                            <a href="{{item.link}}">
                                                {{item.name}}
                                            </a>
                                        {% else %}
                                            <a href="{{item.link}}">
                                                {{item.name}}
                                            </a>/
                                        {% endif %}
                                    {% endfor %}
                                </h5>
        
                                <p>
                                    {{project.body}}
                                </p>

                                {% if project.readMore %}
                                    <a href="{{project.readMore.link}}" class="btn btn-secondary">
                                        {{project.readMore.title}}
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        {% if forloop.last == false %}
                            <div class="row timeline">
                                <div class="col-2">
                                    <div class="corner top-right"></div>
                                </div>

                                <div class="col-8">
                                    <hr/>
                                </div>

                                <div class="col-2">
                                    <div class="corner left-bottom"></div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="row align-items-center justify-content-end how-it-works">
                            <div class="col-9 text-right">
                                <h5>
                                    {% for item in project.header %}
                                        {% if forloop.last == true %}
                                            <a href="{{item.link}}">
                                                {{item.name}}
                                            </a>
                                        {% else %}
                                            <a href="{{item.link}}">
                                                {{item.name}}
                                            </a>/
                                        {% endif %}
                                    {% endfor %}
                                </h5>
        
                                <p>
                                    {{project.body}}
                                </p>

                                {% if project.readMore %}
                                    <a href="{{project.readMore.link}}" class="btn btn-secondary">
                                        {{project.readMore.title}}
                                    </a>
                                {% endif %}
                            </div>
        
                            {% if forloop.last == true %}
                            <div class="col-2 text-center top" style="margin-right: 3px;">
                            {% else %}
                            <div class="col-2 text-center full">
                            {% endif %}
                                <div class="circle"></div>
                            </div>
                        </div>

                        {% if forloop.last == false %}
                            <div class="row timeline">
                                <div class="col-2">
                                    <div class="corner right-bottom"></div>
                                </div>
                                <div class="col-8">
                                    <hr />
                                </div>
                                <div class="col-2">
                                    <div class="corner top-left"></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

            <h1 id="personal_projects">Personal Projects</h1>

            <p>
                My personal projects are often times excuses for me to learn new things and practice new skills. However, this is not always the case, sometimes it is simply to bring an idea I have to life, often times if it is just an application for my own personal use.
            </p>

            <ol>
                <li>
                    <a href="#minimal">Jump to Minimalist Web Applications</a>
                </li>

                <li>
                    <a href="#miscellaneous">Jump to Miscellaneous Projects</a>
                </li>
            </ol>

            <h3 id="minimal">Minimalist Web Applications</h3>
            <p>
                As a sort of unofficial series, I made a number of web applications that employed the same minimal aesthetic. This was because I copied and pasted a lot of the CSS between the applications, but I used no frameworks, CSS or JS, so each application was implemented just a little bit differently. The thread between all of them was localStorage for persistent data storage/state, very little color usage, and a rendering engine written all in Vanilla JS.
            </p>

            {% for project in site.data.projects.personal.minimalist %}
                {% assign mod = forloop.index0 | modulo: 2 %}

                {% if mod == 0 %}
                    <div class="row align-items-center how-it-works">
                        {% if forloop.first == true %}
                        <div class="col-2 text-center bottom">
                        {% elsif forloop.last == true %}
                        <div class="col-2 text-center top">
                        {% else %}
                        <div class="col-2 text-center full" style="margin-left: 3px;">
                        {% endif %}
                            <div class="circle"></div>
                        </div>
        
                        <div class="col-9">
                            <h5>
                                {% for item in project.header %}
                                    {% if forloop.last == true %}
                                        <a href="{{item.link}}">
                                            {{item.name}}
                                        </a>
                                    {% else %}
                                        <a href="{{item.link}}">
                                            {{item.name}}
                                        </a>/
                                    {% endif %}
                                {% endfor %}
                            </h5>
        
                            <p>
                                {{project.body}}
                            </p>
                        </div>
                    </div>

                    {% if forloop.last == false %}
                        <div class="row timeline">
                            <div class="col-2">
                                <div class="corner top-right"></div>
                            </div>

                            <div class="col-8">
                                <hr/>
                            </div>

                            <div class="col-2">
                                <div class="corner left-bottom"></div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="row align-items-center justify-content-end how-it-works">
                        <div class="col-9 text-right">
                            <h5>
                                {% for item in project.header %}
                                    {% if forloop.last == true %}
                                        <a href="{{item.link}}">
                                            {{item.name}}
                                        </a>
                                    {% else %}
                                        <a href="{{item.link}}">
                                            {{item.name}}
                                        </a>/
                                    {% endif %}
                                {% endfor %}
                            </h5>
        
                            <p>
                                {{project.body}}
                            </p>
                        </div>
        
                        {% if forloop.last == true %}
                        <div class="col-2 text-center top" style="margin-right: 3px;">
                        {% else %}
                        <div class="col-2 text-center full">
                        {% endif %}
                            <div class="circle"></div>
                        </div>
                    </div>

                    {% if forloop.last == false %}
                        <div class="row timeline">
                            <div class="col-2">
                                <div class="corner right-bottom"></div>
                            </div>
                            <div class="col-8">
                                <hr />
                            </div>
                            <div class="col-2">
                                <div class="corner top-left"></div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <h3 id="miscellaneous">Miscellaneous Projects</h3>
            <p>
                Below is an assorted collection of my projects that I have done, but didn't have a singular focus like my run of Minimalist Web Applications. However, I am very proud of all of the projects, and I think that they actually form a better picture of the kind of developer I am, one that tries to solve problems or doing interesting things with code.
            </p>

            {% for project in site.data.projects.personal.miscellaneous %}
                <h5>
                    {% for item in project.header %}
                        {% if forloop.last == true %}
                            <a href="{{item.link}}">
                                {{item.name}}
                            </a>
                        {% else %}
                            <a href="{{item.link}}">
                                {{item.name}}
                            </a>/
                        {% endif %}
                    {% endfor %}
                </h5>

                <p>
                    {{project.body}}
                </p>
            {% endfor %}
        </section>

        {% include footer.html %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>
</html>