---
title: Recipes
permalink: /recipes/
recipe_tags: [Mains, Sides, Cocktails]
---

<html>
    <head>
        <title>Recipes | Rees Draminski</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/main.css">
        <style>
            li p {margin-top: 0;}
        </style>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3WG8QJHLSL"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3WG8QJHLSL');
        </script>
    </head>

    <body>
        {% include menu.html %}

        <section id="content" class="wrap">
            <h1 class="text-center mb-3">Recipes</h1>

            <p>
                Cooking is somewhat of a hobby to me (other than me having to cook to feed myself). I enjoy experimenting in the kitchen and expanding on other people's ideas/recipes. I love the idea of fusion food, and try to make it often. As some of mixed race heritage, I think that there is something so beautiful (and tasty) about marrying the flavors of different cultures together into one dish. All the recipes featured on this page are conceived of, cooked by, and written up by me. If there is an inspiration, I will always try to credit the source.
            </p>

            <p>
                I would take all of the measurements contained in the recipes with a grain of salt (if they have measurements at all) because a lot of time they are my best guesses. For the most part I do not measure ingredients in my kitchen (mostly to my detriment), but I am just too lazy.
            </p>

            {% for recipe_tag in page.recipe_tags %}
                {% for tag in site.tags %}
                    {% assign tag_name = tag | first %}
                    {% assign posts = tag | last %}

                    {% if tag_name == recipe_tag %}
                        <h2 id="{{tag_name}}">{{tag_name}}  ({{posts | size}} recipes)</h2>
                        <ul>
                            {% for post in posts %}
                                <li>
                                    <a href="{{ post.url }}">{{ post.title }}</a>
            
                                    <p>
                                        {{ post.description }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </section>

        {% include footer.html %}
    </body>
</html>