body {
    margin: 0;

    font-family: sans-serif;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

li {
    font-size: 1rem;
    line-height: 1.5;
}

article p {
    margin-top: 5px;
}

article ul {
    margin-top: 5px;
}

article p + ul {
    margin-top: -10px;
}

h2, h3 {
    margin-bottom: 0;
}

.page-header {
    padding-top: 25vh;

    text-align: center;
}

.underline {
    border-bottom: 1px dotted red;
}

#interests li {
    line-height: 1.5;
}