---
title: Writing
permalink: /writing/
---

<html>
    <head>
        <title>Writing | Rees Draminski</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/main.css">
        <style>
            li p {margin-top: 0;}
        </style>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3WG8QJHLSL"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3WG8QJHLSL');
        </script>
    </head>

    <body>
        <div id="header">
            <div class="wrap">
                <a href="/" id="title">Rees Draminski</a>

                <ul id="menu">
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="/about">About</a>
                    </li>

                    <li class="active">
                        <a href="/writing">Writing</a>
                    </li>

                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                </ul>
            </div>
        </div>

        <section id="content" class="wrap">
            <h1 class="text-center mb-3">Writing</h1>
            <p>
                I have a ranging array of interests, so I wanted to have a space to be able to write about them and share it. If you ever notice any typos, please email me (<a href="mailto:hi@reesdraminski.com">hi@reesdraminski.com</a>) so that I can get them fixed, and I also am always open to having a conversation about any of my articles.
            </p>

            {% assign sorted_tags = site.tags | sort %}
            {% for tag in sorted_tags %}
                {% assign t = tag | first %}
                {% assign posts = tag | last %}

                <h2 id="{{t}}">{{t}}</h2>
                <ul>
                    {% for post in posts %}
                        {% if post.tags contains t %}
                        <li>
                            <a href="{{ post.url }}">{{ post.title }}</a>

                            <p>
                                {{ post.excerpt | remove: "</p>" | remove: "<p>" }}
                            </p>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </section>

        {% include footer.html %}
    </body>
</html>