---
title: All Posts
layout: page
permalink: /posts/all/
---

<style>
    .list-group-flush > .list-group-item:first-child {
        padding-top: 0;
    }

    #searchresults.list-group .list-group-item:last-child {
        margin-bottom: 1em;
    }

    #searchresults {
        max-height: 1000px;
        overflow-y: scroll;
    }

    #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }
</style>

<div id="spotlights" class="mb-3 d-none">
    <h3>
        Featured Posts
    </h3>

    <!-- make it grow to fit? -->
    <div id="spotlight_grid" class="row row-cols-1 row-cols-md-3 g-2 mb-2"></div>
</div>

<h3>Digital Garden</h3>

<p>
    My writing page is in the format of a <a href="https://maggieappleton.com/garden-history">digital garden</a> to
    serve as a collection of my thoughts, ideas, and opinions on various topics. Please feel free to wander aimlessly...
</p>

<!-- create variable for storing number of words across all posts -->
{% assign total_words = 0 %}
{% assign total_tags = site.tags | size %}
{% assign total_posts = 0 %}

{% for post in site.posts %}
    {% assign total_posts = total_posts | plus: 1 %}
{% endfor %}

{% for tag in site.tags %}
    {% for post in tag[1] %}
        <!-- get word count of post -->
        {% assign word_count = post.content | number_of_words %}

        <!-- add word count of the post to the total count -->
        {% assign total_words = total_words | plus: word_count %}
    {% endfor %}
{% endfor %}

<table class="table table-bordered text-center">
    <thead>
        <th>
            Plants (Posts)
        </th>

        <th>
            Species (Tags)
        </th>

        <th>
            Cells (Words)
        </th>
    </thead>

    <tbody>
        <td>
            {{total_posts}}
        </td>

        <td>
            {{total_tags}}
        </td>

        <td>
            {% include numberWithCommas.html number=total_words %}
        </td>
    </tbody>
</table>

<form id="searchForm">
    <input type="search" id="searchInput" class="form-control" value="" placeholder="Search the garden...">
</form>

<ul id="searchResults" class="list-group mt-1"></ul>

<div class="d-flex flex-wrap gap-2 mb-3 justify-content-center mt-2" id="odomoter"></div>

<div class="row mt-2" id="filterHelp">
    <div class="col">
        <button class="btn btn-primary w-100">
            Click on a post type/tag to filter posts!
        </button>
    </div>
</div>

<div class="row d-none" id="filterView">
    <div class="col">
        <button id="clearFilters" class="btn btn-secondary w-100 mt-2">
            Clear Filters (<span id="activeFilters"></span>)
        </button>
    </div>

    <div class="col">
        <button id="shareFilters" class="btn btn-primary w-100 mt-2">
            Share Post Filter Link
        </button>
    </div>
</div>

<div class="row mt-2 mb-2">
    <div class="col">
        <button id="randomPostBtn" class="btn btn-success w-100">🎲 Scroll To Random Post</button>
    </div>
</div>

<div id="card_grid" class="row row-cols-1 row-cols-md-3 g-2 mb-2"></div>

<button 
    id="btn-back-to-top"
    class="btn btn-success">
    Scroll to Top
</button>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/timeago.js/dist/timeago.min.js"></script>

{% 
    include_cached postSearching.html
    type='all_posts'
%}

<script>
    const cardGridEl = document.getElementById("card_grid");

    const featuredPostsEl = document.getElementById("spotlights");
    const spotlightGridEl = document.getElementById("spotlight_grid");

    const scrollToTopBtn = document.getElementById("btn-back-to-top");
    const randomPostBtn = document.getElementById("randomPostBtn");

    const odomoterEl = document.getElementById("odomoter");
    const filterHintEl = document.getElementById("filterHelp");
    const filterViewEl = document.getElementById("filterView");
    
    const clearFiltersBtn = document.getElementById("clearFilters");
    const activeFiltersListEl = document.getElementById("activeFilters");

    const shareFiltersBtn = document.getElementById("shareFilters");

    const globalFilters = {
        "types": [],
        "tags": []
    }

    // post data generated by Jekyll/Liquid
    const posts = [
        {% for post in site.posts %}
            {
                "title": `{{post.title}}`,
                "description": `{{post.description}}`,
                "url": "{{post.url}}",
                "type": "{{post.type}}",
                "date": new Date(
                    {{ post.date | date: '%Y' }},
                    {{ post.date | date: '%m' }} - 1,
                    {{ post.date | date: '%d' }}
                ),
                "tags": "{{ post.tags | join: ',' }}".split(",")
            },
        {% endfor %}
    ];

    // https://stackoverflow.com/a/14438954
    const postTypes = posts
        .map(x => x.type)
        .filter((value, index, array) => array.indexOf(value) === index);

    const postTags = posts
        .flatMap(x => x.tags)
        .filter((value, index, array) => array.indexOf(value) === index);
    
    /**
     * Initialize the UI components.
     */
    (function initUI() {
        // bind button actions
        randomPostBtn.onclick = scrollToRandomCard;
        clearFiltersBtn.onclick = clearFilters;
        shareFiltersBtn.onclick = copyShareLink;
        scrollToTopBtn.onclick = scrollToTop;

        // for scroll to top button hide/show
        addScrollSpy();

        // to catch user attention/add whimsy
        animateSearchPlaceholder();

        // get global filters from URL
        processURLHash();

        // render post cards and masonry layouts
        renderFeaturedPosts();
        renderGardenPosts();

        // render the odomoter post type filter buttons
        renderPostTypeOdomoter();
    })();

    /**
     * Render the odomoter post type filter buttons with counts.
     */
    function renderPostTypeOdomoter() {
        // clear odomoter
        odomoterEl.innerHTML = "";

        // calculate post counts by type with current filters
        const postCountsByType = posts
            .filter(post => globalFilters.types.length === 0 || globalFilters.types.includes(post.type))
            .filter(post => {
                return (
                    globalFilters.tags.length === 0 || 
                    post.tags
                        .map(x => x.toLocaleLowerCase())
                        .filter(tag => globalFilters.tags.includes(tag)).length > 0
                )
            })
            .reduce((postsByType, post) => {
                if (!postsByType[post.type]) {
                    postsByType[post.type] = 0;
                }

                postsByType[post.type] += 1;

                return postsByType;
            }, {});

        // TODO add years as second row of odomoter?

        // create filter buttons for each post type with counts
        ['article', 'essay', 'list', 'notes', 'project', 'recipe', 'stub'].forEach(type => {
            // create filter button
            const button = createElement(odomoterEl, "button", {
                "class": `btn ${globalFilters.types.includes(type) ? 'btn-secondary' : 'btn-outline-secondary'}`,
                "text": titleCase(type),
                onclick: () => toggleFilter("types", type)
            });

            // create count badge
            createElement(button, "span", {
                "class": "badge text-bg-primary ms-1",
                "text": postCountsByType[type] ? postCountsByType[type] : 0      
            });
        });
    }

    /**
     * Render a card for a given post, given configuration details.
     */
    function renderPostCard(parentEl, post, headerText="", showDescription=false, showTags=false) {
        // create card
        const card = createElement(
            createElement(parentEl, "div", { class: "col" }),
            "div",
            { class: "card" }
        );

        if (headerText)
        {
            const cardHeader = createElement(card, "div", {
                class: "card-header",
                text: headerText
            });
        }

        const cardBody = createElement(card, "div", {
            class: "card-body d-flex flex-column"
        });

        // create title link
        createElement(
            createElement(
                cardBody,
                "p",
                {
                    class: "mb-1"
                }
            ),
            "a",
            {
                href: post.url,
                text: post.title,
            }
        );

        if (showDescription) 
        {
            createElement(cardBody, "p", {
                class: "mb-0",
                text: post.description
            });
        }

        if (showTags) 
        {
            const p = createElement(cardBody, "p", { class: "mb-0" });

            // add post type badge
            createElement(p, "span", {
                class: "badge bg-secondary me-1 text-start",
                text: titleCase(post.type),
                title: `Only show ${post.type} posts`,
                style: "cursor: pointer; text-wrap: auto;",
                onclick: () => toggleFilter("types", post.type)
            });

            // add post tag badges 
            post.tags
                // sort tags in ASC length to better allow inlining
                .sort((a, b) => a.length - b.length)
                .forEach(tag => {
                    createElement(p, "span", {
                        class: "badge bg-secondary me-1 text-start",
                        style: "cursor: pointer; text-wrap: auto;",
                        text: titleCase(tag),
                        title: `Only show ${tag} posts`,
                        onclick: () => toggleFilter("tags", tag)
                    });
                });
        }

        // create footer
        createElement(card, "div", { 
            class: "card-footer",
            text: `Published: ${timeago.format(post.date)}`
        });
    }

    /**
     * Render featured post cards.
     */
    function renderFeaturedPosts() {
        const today = new Date();

        const onThisDay = posts
            .filter(post => {
                return (
                    post.date.getMonth() == today.getMonth() && 
                    post.date.getDate() == today.getDate()
                )
            });

        if (onThisDay.length > 0) 
        {
            featuredPostsEl.classList.remove("d-none");

            onThisDay.forEach(post => {
                renderPostCard(spotlightGridEl, post, "On This Day");
            });
        }
        
        // re-layout Masonry
        new Masonry(spotlightGridEl, {
            itemSelector: ".col",
            percentPosition: true
        });
    }

    /**
     * Render digital garden post cards.
     */
    function renderGardenPosts() {
        // clear
        cardGridEl.innerHTML = "";

        posts
            .filter(post => globalFilters.types.length === 0 || globalFilters.types.includes(post.type))
            .filter(post => {
                return (
                    globalFilters.tags.length === 0 || 
                    post.tags
                        .map(x => x.toLocaleLowerCase())
                        .filter(tag => globalFilters.tags.includes(tag)).length > 0
                )
            })
            // sort DESC by post date
            .sort((a, b) => b.date - a.date)
            .forEach(post => {
                renderPostCard(cardGridEl, post, null, true, true);
            });

        // re-layout Masonry
        new Masonry(cardGridEl, {
            itemSelector: ".col",
            percentPosition: true
        });

        // re-render odomoter
        renderPostTypeOdomoter();
    }

    /**
     * Add a global filter.
     */
    function toggleFilter(kind, filter) {
        const normalizedFilter = filter.toLocaleLowerCase();

        // remove filter if already present
        if (globalFilters[kind].includes(normalizedFilter)) {
            // remove filter if already present
            globalFilters[kind] = globalFilters[kind].filter(x => x !== normalizedFilter);
        }
        else {
            // add global filter
            globalFilters[kind].push(normalizedFilter);
        }
        
        // show/hide buttons depending on if any filters are active
        filterViewEl.classList.toggle("d-none");
        filterHintEl.classList.toggle("d-none");

        // populate the active filters list in the button
        activeFiltersListEl.innerText = globalFilters.types
            .concat(globalFilters.tags) // get tag from postTags for proper cap
            .map(titleCase)
            .join(", ");
        
        // encode filter hash
        const newHash = encodeURI(
            globalFilters.types
                .concat(globalFilters.tags)
                .join(",")
                .toLocaleLowerCase()
        );

        // remove hash if no filters are active
        if (newHash === "") {
            history.pushState("", document.title, window.location.pathname
                + window.location.search);
        }
        else {
            // update URL hash
            history.replaceState(null, null, `#${newHash}`);
        }
        
        // trigger a re-render
        renderGardenPosts();
    }

    /**
     * Add global filters from location.hash.
     */
    function processURLHash() {
        if (window.location.hash) {
            decodeURI(window.location.hash)
                .slice(1)
                .toLocaleLowerCase()
                .split(",")
                .forEach(item => {
                    // case insensitive matching
                    if (postTags.map(x => x.toLocaleLowerCase()).includes(item.toLocaleLowerCase())) {
                        toggleFilter("tags", item);
                    }
                    else if (postTypes.map(x => x.toLocaleLowerCase()).includes(item.toLocaleLowerCase())) {
                        toggleFilter("types", item);
                    }
                });
        }
    }

    /**
     * Copy the filter link to clipboard and alert the user.
     */
    function copyShareLink() {
        const temp = createElement(document.body, "input", {
            value: window.location.href
        });

        temp.select();
        document.execCommand("copy");

        document.body.removeChild(temp);

        alert("Copied share link for your current post filters!");
    }

    /**
     * Scroll to a random post card in the garden.
     */
    function scrollToRandomCard() {
        const cards = [...document.querySelectorAll("#card_grid .card")];

        cards[Math.floor(Math.random() * cards.length)].scrollIntoView();
    }

    /**
     * Clear the global filters.
     */
    function clearFilters() {
        // clear all filters
        globalFilters.types = [];
        globalFilters.tags = [];

        // hide the filter view
        filterViewEl.classList.add("d-none");

        // show the filter hint element
        filterHintEl.classList.remove("d-none");

        history.pushState("", document.title, window.location.pathname
                                                       + window.location.search);

        // trigger re-render
        renderGardenPosts();
    }

    /**
     * Bind the scroll the top button functionality.
     * https://mdbootstrap.com/snippets/standard/mdbootstrap/2964350#js-tab-view
     */
    function addScrollSpy() {
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = () => {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                scrollToTopBtn.style.display = "block";
            } else {
                scrollToTopBtn.style.display = "none";
            }
        }
    }

    /**
     * Scroll to the top of the page.
     */
    function scrollToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    /**
     * Animate the search input placeholder text.
     */
    function animateSearchPlaceholder() {
        const element = document.getElementById("searchInput");
        const text = "Search the garden";
        
        let dots = 0;
        setInterval(() => {
            // Cycle through 0, 1, 2, 3 dots
            dots = (dots + 1) % 4;

            element.placeholder = text + ".".repeat(dots);
        }, 1000);
    }

    /**
     * Capitalize the first letter of each word of a given string.
     */
    function titleCase(str) {
        return str
            .split(" ")
            .map(word => word.charAt(0).toUpperCase() + word.slice(1))
            .join(" ");
    }

    /**
     * Create an HTML element and add it to the DOM tree.
     * @param {HTMLElement} parent 
     * @param {String} tag          
     * @param {Object} attributes 
     */
    function createElement(parent, tag, attributes = {}) {
        // create the element to whatever tag was given
        const el = document.createElement(tag);

        // go through all the attributes in the object that was given
        Object.entries(attributes)
            .forEach(([attr, value]) => {
                // handle the various special cases that will cause the Element to be malformed
                if (attr == "text") {
                    el.innerText = value;
                }
                else if (attr == "innerHTML") {
                    el.innerHTML = value;
                }
                else if (attr == "textContent") {
                    el.textContent = value;
                }
                else if (attr == "onclick") {
                    el.onclick = value;
                }
                else if (attr == "onkeydown") {
                    el.onkeydown = value;
                }
                else if (attr == "onchange") {
                    el.onchange = value;
                }
                else {
                    el.setAttribute(attr, value);
                }
            });

        // add the newly created element to its parent
        parent.appendChild(el);

        // return the element in case this element is a parent for later element creation
        return el;
    }
</script>