<div class="modal fade" id="dataModal" tabindex="-1" aria-labelledby="dataModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="dataModalBody">
        <!-- populated by data-modal.js -->
      </div>
      <div class="modal-footer justify-content-start py-2">
        <button id="dataModalCopyLink" type="button" class="btn btn-sm btn-outline-secondary">Copy citation link</button>
      </div>
    </div>
  </div>
</div>
