<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/x-icon" href="{{include.baseurl}}/static/favicon.ico">

{% seo %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
<style>
    body {
        background-color: #fffcf8;
    }

    #content {
        font-family: Lucida Bright, Georgia, serif;
        max-width: 800px;
        font-size: calc(12px + 1vh);
        line-height: 1.6em;
    }
</style>

<script defer src="https://www.googletagmanager.com/gtag/js?id=G-3WG8QJHLSL"></script>
<script defer src="{{site.baseurl}}/static/js/analytics.js"></script>