---
title: All Posts
layout: page
permalink: /posts/all/
---

<style>
    .list-group-flush > .list-group-item:first-child {
        padding-top: 0;
    }

    #searchresults.list-group .list-group-item:last-child {
        margin-bottom: 1em;
    }

    #searchresults {
        max-height: 1000px;
        overflow-y: scroll;
    }

    #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    #visiblePostTags li, #hiddenPostTags li  {
        display: inline-block;
        padding: 5px;
        border: 1px solid black;
        border-radius: 4px;
        margin: 5px;
    }
</style>

<!-- <p>
    My writing page is in the format of a <a href="https://maggieappleton.com/garden-history">digital garden</a> to
    serve as a collection of my thoughts, ideas, and opinions on various topics. Generally speaking, articles are the
    most polished version of my thoughts with notes being the less polished counterpart. Lists are just lists, sometimes
    I'll write rationale for items but other times it'll just be a plain and simple bulleted list. Stubs are not quite
    articles, lists, or notes; they're something in between. They are usually a grouping of related ideas/thoughts under
    a topic that is summarized by the title, the closest thing to it that I can think of is an article outline.
</p> -->

<form id="searchForm" class="mb-2">
    <input type="search" id="searchInput" class="form-control" value="" placeholder="Search the garden...">
</form>

<ul id="searchResults" class="list-group"></ul>

<div class="accordion" id="accordionTwo">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Show Post Type
            </button>
        </h2>

        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionTwo">
            <div class="accordion-body">
                <div class="text-center mb-2">
                    <button id="showAllTypes" class="btn btn-primary">Select All</button>
                    <button id="hideAllTypes" class="btn btn-secondary">Un-Select All</button>
                </div>

                <ul id="typeFilterList"></ul>
            </div>
        </div>
    </div>
</div>

<div class="accordion mt-1 mb-1" id="accordionOne">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Filter Posts by Tag
            </button>
        </h2>

        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionOne">
            <div class="accordion-body">
                <h4>
                    Visible Post Tags (<span id="visiblePostTagsCount"></span>)
                </h4>

                <ul id="visiblePostTags"></ul>

                <h4>
                    Hidden Post Tags
                </h4>

                <ul id="hiddenPostTags"></ul>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <button id="clearFilters" class="btn btn-primary w-100 d-none">Clear Filters</button>
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <button id="randomPostBtn" class="btn btn-success w-100">🎲 Scroll To Random Post</button>
    </div>
</div>

<div id="card_grid" class="row row-cols-1 row-cols-md-3 g-2 mb-2"></div>

<button 
    id="btn-back-to-top"
    class="btn btn-success">
    Scroll to Top
</button>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>

{% 
    include_cached postSearching.html
    type='all_posts'
%}

<script>
    const cardGridEl = document.getElementById("card_grid");
    const visiblePostTagsList = document.getElementById("visiblePostTags");
    const hiddenPostTagsList = document.getElementById("hiddenPostTags");

    const tagFilterListEl = document.getElementById("tagFilterList");
    const typeFilterListEl = document.getElementById("typeFilterList");

    const POST_TYPES = [
        "article",
        "essay",
        "list",
        "project",
        "notes",
        "recipe",
        "stub"
    ];
    
    // post data generated by Jekyll/Liquid
    const tags = [
        {% for tag in site.tags %}
            {
                "name": "{{tag[0]}}",
                "count": parseInt("{{tag[1] | size}}", 10)
            },
        {% endfor %}
    ];

    const posts = [
        {% for post in site.posts %}
            {
                "title": `{{post.title}}`,
                "description": `{{post.description}}`,
                "url": "{{post.url}}",
                "type": "{{post.type}}",
                "date": new Date("{{ post.date | date: '%m-%d-%Y' }}"),
                "tags": "{{ post.tags | join: ',' }}".split(",")
            },
        {% endfor %}
    ];

    function hidePostTag(tag, li) {
        visiblePostTagsList.removeChild(li);

        const hiddenPostTypeLi = createElement(hiddenPostTagsList, "li", {
            text: `${tag.name} (${tag.count})`
        });

        createElement(hiddenPostTypeLi, "span", {
            innerHTML: "&#10006;",
            style: "margin-left: 5px; cursor: pointer",
            onclick: () => showPostTag(tag, hiddenPostTypeLi)
        });

        render();
    }

    function showPostTag(tag, li) {
        hiddenPostTagsList.removeChild(li);

        const visiblePostTypeLi = createElement(visiblePostTagsList, "li", {
            text: `${tag.name} (${tag.count})`
        });

        createElement(visiblePostTypeLi, "span", {
            innerHTML: "&#10006;",
            style: "margin-left: 5px; cursor: pointer",
            onclick: () => hidePostTag(tag, visiblePostTypeLi)
        });

        render();
    }

    (function initUI() {
        // render tag checkboxes
        tags
            .sort((a, b) => a.name.localeCompare(b.name))
            .forEach(tag => {
                const visiblePostTagLi = createElement(visiblePostTagsList, "li", {
                    text: `${tag.name} (${tag.count})`
                });

                createElement(visiblePostTagLi, "span", {
                    innerHTML: "&#10006;",
                    style: "margin-left: 5px; cursor: pointer",
                    onclick: () => hidePostTag(tag, visiblePostTagLi)
                });
            });

        // render type checkboxes
        POST_TYPES.forEach(type => createTypeCheckbox(type));

        document.getElementById("showAllTypes").onclick = () => {
            typeFilterListEl.querySelectorAll("input").forEach(x => x.checked = true);

            render();
        }

        document.getElementById("hideAllTypes").onclick = () => {
            typeFilterListEl.querySelectorAll("input").forEach(x => x.checked = false);

            render();
        }

        document.getElementById("randomPostBtn").onclick = () => {
            const cards = [...document.querySelectorAll("#card_grid .card")];
            cards[Math.floor(Math.random() * cards.length)].scrollIntoView();
        }

        bindScrollToTopActions();

        animateSearchPlaceholder();

        render();
    })();

    /**
     * https://mdbootstrap.com/snippets/standard/mdbootstrap/2964350#js-tab-view
     */
    function bindScrollToTopActions() {
        const scrollToTopBtn = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = () => {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                scrollToTopBtn.style.display = "block";
            } else {
                scrollToTopBtn.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        scrollToTopBtn.addEventListener("click", () => {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        });
    }

    function animateSearchPlaceholder() {
        const element = document.getElementById("searchInput");
        const text = "Search the garden";
        
        let dots = 0;
        setInterval(() => {
            // Cycle through 0, 1, 2, 3 dots
            dots = (dots + 1) % 4;

            element.placeholder = text + ".".repeat(dots);
        }, 1500);
    }

    function render() {
        // clear
        cardGridEl.innerHTML = "";

        // get tags to show from Show Tags
        const visiblePostTags = [
            ...document.querySelectorAll("#visiblePostTags li")
        ]
        .map(tag => tag.innerText.substring(0, tag.innerText.indexOf("(") - 1))

        document.getElementById("visiblePostTagsCount").innerText = [
            ...document.querySelectorAll("#visiblePostTags li")
        ].length;

        // get tags to show from Show Types
        const visiblePostTypes = getShowTypes();

        renderGarden(
            posts
                // WHERE post.type IN userSelectedVisiblePostTypes
                .filter(post => visiblePostTypes.includes(post.type))
                // only show tags that are checked
                .filter(post => post.tags.every(tag => visiblePostTags.includes(tag)))
                // sort DESC by post date
                .sort((a, b) => b.date - a.date)
        );

        // re-layout Masonry
        new Masonry(cardGridEl, {
            itemSelector: ".col",
            percentPosition: true
        });
    }

    function renderGarden(items) {
        items
            .forEach(post => {
                // create card
                const card = createElement(
                    createElement(cardGridEl, "div", { class: "col" }),
                    "div",
                    { class: "card" }
                );
                
                const cardBody = createElement(card, "div", {
                    class: "card-body d-flex flex-column"
                });

                // create title link
                createElement(
                    createElement(
                        cardBody, 
                        "p", 
                        { 
                            class: "mb-1" 
                        }
                    ), 
                    "a", 
                    {
                        href: post.url,
                        text: post.title,
                    }
                );

                createElement(cardBody, "p", {
                    class: "mb-2",
                    text: post.description
                });

                const p = createElement(cardBody, "p", { class: "mb-0" });

                createElement(p, "span", {
                    class: "badge bg-secondary me-1",
                    text: titleCase(post.type)
                });

                post.tags
                    .sort((a, b) => a.length - b.length)
                    .forEach(tag => {
                        createElement(p, "span", {
                            class: "badge bg-secondary me-1",
                            text: titleCase(tag)
                        });
                    });
            });
    }

    function getShowTypes() {
        return [
            ...document.querySelectorAll(
                "#typeFilterList li input[type='checkbox']:checked"
            )
        ].map(x => x.name);
    }

    /**
     * Capitalize the first letter of each word of a given string.
     */
    function titleCase(str) {
        return str
            .toLowerCase()
            .split(" ")
            .map(word => word.charAt(0).toUpperCase() + word.slice(1))
            .join(" ");
    }

    /**
     * Create tag checkbox for show tag selector.
     */
    function createTagCheckbox(tag) {
        const li = createElement(tagFilterListEl, "li", {
            class: "ms-2"
        });

        createElement(li, "input", {
            name: `${tag.name}_tag`,
            id: `${tag.name}_tag`,
            class: "form-check-input",
            type: "checkbox",
            checked: true,
            onchange: () => render()
        });

        createElement(li, "label", {
            class: "form-check-label ms-1",
            for: `${tag.name}_tag`,
            text:`${tag.name}`,
        });
    }

    /**
     * Create tag checkbox for show type selector.
     */
    function createTypeCheckbox(type) {
        const li = createElement(typeFilterListEl, "li", {
            class: "ms-2"
        });

        createElement(li, "input", {
            name: type,
            id: type,
            class: "form-check-input",
            type: "checkbox",
            checked: true,
            onchange: () => render()
        });

        createElement(li, "label", {
            class: "form-check-label ms-1",
            for: type,
            text: titleCase(type)
        });
    }

    /**
     * Create an HTML element and add it to the DOM tree.
     * @param {HTMLElement} parent 
     * @param {String} tag          
     * @param {Object} attributes 
     */
    function createElement(parent, tag, attributes = {}) {
        // create the element to whatever tag was given
        const el = document.createElement(tag);

        // go through all the attributes in the object that was given
        Object.entries(attributes)
            .forEach(([attr, value]) => {
                // handle the various special cases that will cause the Element to be malformed
                if (attr == "text") {
                    el.innerText = value;
                }
                else if (attr == "innerHTML") {
                    el.innerHTML = value;
                }
                else if (attr == "textContent") {
                    el.textContent = value;
                }
                else if (attr == "onclick") {
                    el.onclick = value;
                }
                else if (attr == "onkeydown") {
                    el.onkeydown = value;
                }
                else if (attr == "onchange") {
                    el.onchange = value;
                }
                else {
                    el.setAttribute(attr, value);
                }
            });

        // add the newly created element to its parent
        parent.appendChild(el);

        // return the element in case this element is a parent for later element creation
        return el;
    }
</script>