<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}} | Rees Writes</title>

        {% include_cached header.html 
            description=page.description
            title=page.title
            baseurl=site.url
            pageurl=page.url
        %}

        <link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.min.css" rel="stylesheet">
        <style>
            .fc-col-header-cell-cushion, .fc-daygrid-day-number, .nav-tabs .nav-link {
                color: inherit;
                text-decoration: none;
            }
        </style>
    </head>

    <body class="d-flex flex-column h-100">
        {% include_cached menu.html 
            description=page.description
            title=page.title
            baseurl=site.url
            pageurl=page.url
            layout=page.layout
            permalink=page.permalink
        %}

        <section id="content" class="container flex-shrink-0 mb-2">
            <h1 class="text-center">{{page.title}}</h1>

            {% assign backlinks = '' | split: '' %}

            {% for entry in site.pages %}
                {% unless entry.url contains ".json" %}
                    {% assign link = '(' | append: page.permalink | append: ')' %}

                    {% if entry.content contains link %}
                        {% assign backlinks = backlinks | push: entry %}
                    {% endif %}
                {% endunless %}
            {% endfor %}

            {% for entry in site.posts %}
                {% if entry.content contains page.permalink %}
                    {% assign backlinks = backlinks | push: entry %}
                {% endif %}
            {% endfor %}

            {% if backlinks.size > 0 %}
                <p class="mb-0">
                    Pages That Link Here:
                </p>

                <ul>
                    {% for entry in backlinks %}
                        <li>
                            <a href="{{ entry.url }}">{{ entry.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p>
                Original Data Location: {{page.location}}
            </p>

            {{content}}
        </section>

        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" async></script>
        <script>
            // trigger resize for calendar, table, and masonry
            [...document.querySelectorAll("button.nav-link")]
                .forEach(button => {
                    button.onclick = () => window.dispatchEvent(new Event('resize'));
                });
        </script>

        {% include_cached footer.html %}
    </body>
</html>