<html>
    <head>
        <title>{{ page.title }} | Rees Draminski</title>

        {% include header.html %}
     
        <style>
            article ul, article ol {margin-top: 10px}
            p + ul, p + ol {margin-top: 5px}
            li ul, li ol {margin-top: 0}
            #content ol li, #content ul li {margin-left: 2em}
        </style>
    </head>

    <body>
        {% include menu.html %}
        
        <section id="content" class="container">
            <article class="post">
                <h1>
                    {{ page.title }}
                </h1>
                
                <em>
                    <p>{{page.description}}</p>

                    <p style="margin-bottom: .5em">
                        This notepad was tagged with: 
                        {% for tag in page.tags %}
                            <a href="/notes/#{{ tag | encode_url }}">{{ tag }}</a>
                        {%- endfor -%}
                    </p>
    
                    {% assign post_date = page.date | date: "%s" %}
                    <p style="margin-bottom: .5em">
                        This notepad was written on {{ post_date | date: "%B %e, %Y" }}.
                    </p>
    
                    <p style="margin-bottom: 0.5em">
                        {% assign reading_time = page.content | number_of_words | divided_by: 200 | plus: 1 %}
                        There are {{ page.content | number_of_words }} words in this notepad, and it will probably take you less than {{reading_time}} {% if reading_time > 1 %}minutes{% else %}minute{%endif%} to read it.
                    </p>
                </em>

                <hr>
               
                <div class="entry">
                    {{ content }}
                </div>
            </article>

            {% assign numTags = page.tags | size %}
            {% if numTags == 1 %}
                {% assign tag = page.tags[0] %}
                {% assign num_posts = site.tags[tag] | size %}

                {% if num_posts > 1 %}
                    <h2>Other <em>{{tag}}</em> Notepads</h2>

                    {% for post in site.tags[tag] %}
                        {% if post.title != page.title %}
                            <p class="mb-0">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </p>

                            <p class="mt-0">
                                {{ post.description }}
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            
            {% include comments.html %}
        </section>

        {% include footer.html %}
    </body>
</html>