<html>
    <head>
        <title>{{ page.title }} | Rees Draminski</title>

        {% include header.html %}

        <link rel="stylesheet" href="/css/friendly.css">
        <style>
            img { max-width: 100%; }

            table {
                border-collapse: collapse;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1.5em;
            }

            @media only screen and (max-width: 600px) {
                table {
                    width: 100%;
                }
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                text-align: center;
            }

            body {
                background-color: #fffcf8;
            }

            #content {
                font-family: Lucida Bright, Georgia, serif;
                max-width: 800px;
                font-size: calc(12px + 1vh);
                line-height: 1.6em;
            }
        </style>
    </head>

    <body>
        {% include menu.html %}
        
        <section id="content" class="container">
            <article class="post">
                <h1>
                    {{ page.title }}
                </h1>

                <p>
                    {{ page.content | number_of_words }} Words &bull; {% for tag in page.tags -%}
                        <a href="/garden/#{{ tag | encode_url }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                    {%- endfor %} 
                    &bull; {{ page.date | date: "%m/%d/%Y" }}
                </p>

                <!-- <section id="article_stats">
                    <p style="margin-bottom: .5em">
                        {{page.description}}
                    </p>

                    <p style="margin-bottom: .5em">
                        This article was tagged with: 
                        {% for tag in page.tags %}
                            <a href="/garden/#{{ tag | encode_url }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                        {%- endfor -%}
                    </p>

                    <p style="margin-bottom: 0.5em">
                        {% assign reading_time = page.content | number_of_words | divided_by: 200 | plus: 1 %}
                        There are {{ page.content | number_of_words }} words in this article, and it will probably take you less than {{reading_time}} {% if reading_time > 1 %}minutes{% else %}minute{%endif%} to read it.
                    </p>

                    {% assign post_date = page.date | date: "%s" %}
                    <p style="margin-bottom: .5em">
                        This article was published <span id="postedOn">{{page.date}}</span>, which makes this post <span id="postAge"></span> and me <span id="meAge"></span> old when I published it.
                    </p>

                    <p id="writingTimeP" style="display: none;">
                        It took an estimated <span id="writingTime"></span> to develop this article from conception to publishing.
                    </p>
                </section> -->

                <div class="entry">
                    {{ content }}
                </div>
            </article>
            
            {% assign numTags = page.tags | size %}
            {% if numTags == 1 %}
                {% assign tag = page.tags[0] %}
                {% assign num_posts = site.tags[tag] | size %}

                {% if num_posts > 1 %}
                    <hr>

                    <h2>Other <em>{{tag}}</em> Posts</h2>

                    {% assign articles = site.tags[tag] | slice: 0, 6 %}

                    {% for post in articles %}
                        {% if post.title != page.title %}
                            <p class="mb-0">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </p>

                            <p>
                                {{ post.description }}
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}

            <hr>
            
            {% include comments.html %}
        </section>

        {% include footer.html %}
        
        <script>
            // enable all checkboxes
            [
                ...document.querySelectorAll(
                    ".task-list-item-checkbox"
                )
            ]
            .forEach(x => x.removeAttribute("disabled"));

            // date constants
            const postDate = new Date(`{{page.date | date: "%m/%d/%Y" }}`);
            const startedAtDate = new Date("{{page.started_at}}");
            const birthDate = new Date("July 9, 2000 17:00:00");
            const today = new Date();

            const options = {
                weekday: "long",
                year: "numeric",
                month: "long",
                day: "numeric"
            };

            // https://stackoverflow.com/a/26064265
            function calcDate(d1, d2) {
                let dy = d1.getYear()  - d2.getYear();
                let dm = d1.getMonth() - d2.getMonth();
                let dd = d1.getDate()  - d2.getDate();

                if (dd < 0) { dm -= 1; dd += 30; }
                if (dm < 0) { dy -= 1; dm += 12; }

                const yearUnit = dy == 1 ? "year" : "years";
                const monthUnit = dm == 1 ? "month" : "months";
                const dayUnit = dd == 1 ? "day" : "days";

                if (dy == 0)
                {
                    if (dm == 0)
                    {
                        return `${dd} ${dayUnit}`;
                    }

                    if (dd == 0)
                    {
                        return `${dm} ${monthUnit}`;
                    }
                    
                    return `${dm} ${monthUnit} and ${dd} ${dayUnit}`;
                }

                return `${dy} ${yearUnit}, ${dm} ${monthUnit}, and ${dd} ${dayUnit}`;
            }

            // https://stackoverflow.com/questions/8215556/how-to-check-if-input-date-is-equal-to-todays-date
            let postedOn;
            if (today.setHours(0, 0, 0, 0) == postDate.setHours(0, 0, 0, 0))
            {
                postedOn = "today";
                document.getElementById("postAge").innerText = "brand new";
            }
            else
            {
                postedOn = `on ${postDate.toLocaleDateString("en-US", options)}`;
                
                document.getElementById("postAge").innerText = calcDate(today, postDate) + " old";
            }

            if (!isNaN(startedAtDate))
            {
                document.getElementById("writingTimeP").style.display = "";
                document.getElementById("writingTime").innerText = calcDate(postDate, startedAtDate);
            }

            document.getElementById("meAge").innerText = calcDate(postDate, birthDate);
            document.getElementById("postedOn").innerText = postedOn;
        </script>
    </body>
</html>