<html>
    <head>
        <title>{{ page.title }} | Rees Draminski</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3WG8QJHLSL"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3WG8QJHLSL');
        </script>
    </head>

    <body>
        {% include menu.html %}
        
        <section id="content" class="wrap">
            <article class="post">
                <h1>
                    {{ page.title }}
                </h1>

                <div class="repo-card pt-1 mb-3" data-repo="{{ page.repo_name }}"></div>
                
                <div class="entry">
                    {{ content }}
                </div>
            </article>

            {% include comments.html %}
        </section>
        
        {% include footer.html %}

        <script src="{{ site.baseurl }}/js/repo-card.js"></script>
    </body>
</html>