<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} | Rees Writes</title>

        {% include_cached header.html 
            description=page.description
            title=page.title
            baseurl=site.url
            pageurl=page.url
        %}
        
        <style>
            article ul {margin-top: 0}
            #content ol li, #content ul li {margin-left: 2em}
            img {width: 300px;}
        </style>
    </head>

    <body>
        {% include_cached menu.html 
            description=page.description
            title=page.title
            baseurl=site.url
            pageurl=page.url
            layout=page.layout
        %}
        
        <section id="content" class="container">
            <article class="post">
                <h1>
                    {{ page.title }}
                </h1>

                <div class="entry">
                    {{ content }}
                </div>
            </article>

            {% include_cached comments.html 
                baseurl=site.url
                pageurl=page.url
            %}
        </section>

        {% include_cached footer.html %}
    </body>
</html>