<html>
    <head>
        <title>{{ page.title }} | Rees Draminski</title>

        {% include header.html %}
     
        <style>
            article ul, article ol {margin-top: 10px}
            p + ul, p + ol {margin-top: 5px}
            li ul, li ol {margin-top: 0}
            #content ol li, #content ul li {margin-left: 2em}
        </style>
    </head>

    <body>
        {% include menu.html %}
        
        <section id="content" class="container">
            <article class="post">
                <h1>
                    {{ page.title }}
                </h1>
                
                <em>
                    <p>{{page.description}}</p>

                    <p style="margin-bottom: .5em">
                        This stub was tagged with: 
                        {% for tag in page.tags %}
                            <a href="/garden#{{ tag | encode_url }}">{{ tag }}</a>
                        {%- endfor -%}
                    </p>
    
                    {% assign post_date = page.date | date: "%s" %}
                    <p style="margin-bottom: .5em">
                        This stub was born on {{ post_date | date: "%B %e, %Y" }}.
                    </p>
                </em>

                <hr>
               
                <div class="entry">
                    {{ content }}
                </div>
            </article>

            <hr>

            {% include comments.html %}
        </section>

        {% include footer.html %}
    </body>
</html>