<html>
    <head>
        <title>{{ page.title }} | Rees Draminski</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">

        <meta name="description" content="{{ page.description }}">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="{{site.url}}{{page.url}}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="{{page.description}}">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="Rees Draminski">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{page.description}}">

        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/friendly.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/typebase.css">
        <style>
            article ul, article ol {margin-top: 10px}
            p + ul, p + ol {margin-top: 5px}
            li ul, li ol {margin-top: 0}
            #content ol li, #content ul li {margin-left: 2em}

            #article_stats {font-style: italic;}
            #article_stats p:not(:first-child) {margin-top: 0;}
        </style>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3WG8QJHLSL"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3WG8QJHLSL');
        </script>
    </head>

    <body>
        {% include menu.html %}
        
        <section id="content" class="wrap">
            <article class="post">
                <h1>
                    {{ page.title }}
                </h1>

                <section id="article_stats">
                    <p style="margin-bottom: .5em">
                        {{page.description}}
                    </p>

                    {% assign post_date = page.date | date: "%s" %}
                    <p style="margin-bottom: .5em">
                        This article was published <span id="postedOn">{{post.date}}</span>, which makes this post <span id="postAge"></span> and me <span id="meAge"></span> old when I published it.
                    </p>

                    <p id="writingTimeP" style="display: none; margin-bottom: 0.5em;">
                        It took an estimated <span id="writingTime"></span> to develop this article from conception to publishing.
                    </p>

                    <p>
                        {% assign reading_time = page.content | number_of_words | divided_by: 200 | plus: 1 %}
                        There are {{ page.content | number_of_words }} words in this article, and it will probably take you less than {{reading_time}} {% if reading_time > 1 %}minutes{% else %}minute{%endif%} to read it.
                    </p>
                </section>

                <div class="entry">
                    {{ content }}
                </div>
            </article>
            
            {% assign numTags = page.tags | size %}
            {% if numTags == 1 %}
                {% assign tag = page.tags[0] %}
                {% assign num_posts = site.tags[tag] | size %}

                {% if num_posts > 1 %}
                    <h2>Related Articles</h2>

                    {% for post in site.tags[tag] %}
                        {% if post.title != page.title %}
                            <p>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                                <p style="margin-top: 0">
                                    {{ post.description }}
                                </p>
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            
            {% include comments.html %}
        </section>

        {% include footer.html %}
        
        <script>
            // enable all checkboxes
            [
                ...document.querySelectorAll(
                    ".task-list-item-checkbox"
                )
            ]
            .forEach(x => x.removeAttribute("disabled"));

            // date constants
            const postDate = new Date("{{page.date}}");
            const startedAtDate = new Date("{{page.started_at}}");
            const birthDate = new Date("July 9, 2000 17:00:00");
            const today = new Date();

            const options = {
                weekday: "long",
                year: "numeric",
                month: "long",
                day: "numeric"
            };

            // https://stackoverflow.com/a/26064265
            function calcDate(d1, d2) {
                let dy = d1.getYear()  - d2.getYear();
                let dm = d1.getMonth() - d2.getMonth();
                let dd = d1.getDate()  - d2.getDate();

                if (dd < 0) { dm -= 1; dd += 30; }
                if (dm < 0) { dy -= 1; dm += 12; }

                const yearUnit = dy == 1 ? "year" : "years";
                const monthUnit = dm == 1 ? "month" : "months";
                const dayUnit = dd == 1 ? "day" : "days";

                if (dy == 0)
                {
                    if (dm == 0)
                    {
                        return `${dd} ${dayUnit}`;
                    }
                    
                    return `${dm} ${monthUnit} and ${dd} ${dayUnit}`;
                }

                return `${dy} ${yearUnit}, ${dm} ${monthUnit}, and ${dd} ${dayUnit}`;
            }

            // https://stackoverflow.com/questions/8215556/how-to-check-if-input-date-is-equal-to-todays-date
            let postedOn;
            if (today.setHours(0, 0, 0, 0) == postDate.setHours(0, 0, 0, 0))
            {
                postedOn = "today";
                document.getElementById("postAge").innerText = "brand new";
            }
            else
            {
                postedOn = `on ${postDate.toLocaleDateString("en-US", options)}`;
                
                document.getElementById("postAge").innerText = calcDate(today, postDate) + " old";
            }

            if (!isNaN(startedAtDate))
            {
                document.getElementById("writingTimeP").style.display = "";
                document.getElementById("writingTime").innerText = calcDate(postDate, startedAtDate);
            }

            document.getElementById("meAge").innerText = calcDate(postDate, birthDate);
            document.getElementById("postedOn").innerText = postedOn;
        </script>
    </body>
</html>